@use '../../scss/mixins';

.loader-container {
  position: relative;
  min-height: 300px;
  @extend %flex-center;
  justify-content: center;
}

.loader {
  width: 72px;
  height: 29px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.loader > div {
  content: '';
  width: 8px;
  height: 8px;
  background: rgb(119, 159, 136);
  border-radius: 100%;
  position: absolute;
  animation: load-animate 2.3s linear infinite;
  -o-animation: load-animate 2.3s linear infinite;
  -ms-animation: load-animate 2.3s linear infinite;
  -webkit-animation: load-animate 2.3s linear infinite;
  -moz-animation: load-animate 2.3s linear infinite;
}
.loader > div:nth-of-type(1) {
  animation-delay: -0.46s;
  -o-animation-delay: -0.46s;
  -ms-animation-delay: -0.46s;
  -webkit-animation-delay: -0.46s;
  -moz-animation-delay: -0.46s;
}
.loader > div:nth-of-type(2) {
  animation-delay: -0.92s;
  -o-animation-delay: -0.92s;
  -ms-animation-delay: -0.92s;
  -webkit-animation-delay: -0.92s;
  -moz-animation-delay: -0.92s;
}
.loader > div:nth-of-type(3) {
  animation-delay: -1.38s;
  -o-animation-delay: -1.38s;
  -ms-animation-delay: -1.38s;
  -webkit-animation-delay: -1.38s;
  -moz-animation-delay: -1.38s;
}
.loader > div:nth-of-type(4) {
  animation-delay: -1.84s;
  -o-animation-delay: -1.84s;
  -ms-animation-delay: -1.84s;
  -webkit-animation-delay: -1.84s;
  -moz-animation-delay: -1.84s;
}

@keyframes load-animate {
  0% {
    left: 72px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  90% {
    width: 29px;
    height: 11px;
  }
  95% {
    left: 72px;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 72px;
    top: 0;
  }
}

@-o-keyframes load-animate {
  0% {
    left: 72px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  90% {
    width: 29px;
    height: 11px;
  }
  95% {
    left: 72px;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 72px;
    top: 0;
  }
}

@-ms-keyframes load-animate {
  0% {
    left: 72px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  90% {
    width: 29px;
    height: 11px;
  }
  95% {
    left: 72px;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 72px;
    top: 0;
  }
}

@-webkit-keyframes load-animate {
  0% {
    left: 72px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  90% {
    width: 29px;
    height: 11px;
  }
  95% {
    left: 72px;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 72px;
    top: 0;
  }
}

@-moz-keyframes load-animate {
  0% {
    left: 72px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  90% {
    width: 29px;
    height: 11px;
  }
  95% {
    left: 72px;
    top: -14px;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 72px;
    top: 0;
  }
}
