@use '../../../scss/variables.scss' as vr;
@use '../../../scss/mixins.scss';

.card__container {
  position: relative;
  max-width: 55em;
  margin: auto;
}

.card__animation-container {
  perspective: 1000px;
  cursor: pointer;
}

.card,
.card-other-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 40em;
  padding: 2em 4em;

  border: 2px solid transparent;
  border-radius: 10px;

  background-color: vr.$background-gray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  color: vr.$font-green;
}

.learned {
  border-color: vr.$background-green;
}

.in-progress {
  border-color: vr.$accent-orange;
}

.card_animated,
.card-other-side_animated {
  transition: transform 800ms;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-other-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: scroll;
  transform: rotateY(180deg);
}

.card_notification {
  align-items: center;
  justify-content: center;
}

.card__notification-text {
  text-align: center;
  font-size: 2.5em;
}

.card__notification-img {
  width: 10em;
  height: 10em;
}

.card__animation-container_flip .card {
  transform: rotateY(180deg);
}

.card__animation-container_flip .card-other-side {
  transform: rotateY(0);
}

.card-other-side__word {
  font-size: 3em;
  text-align: center;
}

.card__box {
  @extend %flex-center;
  flex-direction: column;
  align-self: center;
}

.card__word {
  font-size: 3em;
}

.card__tag {
  margin-left: auto;

  font-size: 1.5em;
}

.card__transcription {
  font-size: 2em;
}

.card__notice {
  margin-left: auto;

  font-size: 2em;
  font-style: italic;
  color: vr.$background-green;
}
