@use '../../../scss/variables' as vr;
@use '../../../scss/mixins.scss';
@use 'sass:color';

.table__row {
  padding-block: 2.5em;

  background-color: white;

  @media screen and (max-width: vr.$mobileXL) {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 85%;
    padding: 0;
  }
}

.table__row:not(:last-child) {
  border-bottom: 4px solid vr.$background-gray;
}

.table__data {
  min-height: 3em;
  padding-block: 0.4em;

  font-size: 1.8em;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  border-right: 1px solid vr.$line-color;
  border-radius: 2px;

  @media screen and (max-width: vr.$mobileXL) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding-block: 0.4em;

    border-right: none;
    border-bottom: 1px solid vr.$line-color;
  }
}

.table__data:last-child {
  border: none;
}

.table__options {
  @extend %flex-center;
  justify-content: center;
  gap: 1em;

  @media screen and (max-width: vr.$mobileXL) {
    width: 100%;
  }
}

.table__icon {
  width: 1.6em;
  height: 1.6em;

  fill: vr.$background-green;
}

.table__icon_orange {
  fill: vr.$accent-orange;
}

.table__button {
  @include mixins.svg-button(5px 0, vr.$background-green);
}

.table__button_orange {
  @include mixins.svg-button(5px 0, vr.$accent-orange);
}

.table__button_orange:disabled {
  pointer-events: none;
}

.table__button_orange:disabled .table__icon_orange {
  opacity: 0.5;
}

.table__input {
  width: 90%;
  min-height: 2.5em;
  margin: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;

  background-color: vr.$background-gray;
}

.invalid {
  border: 1px solid vr.$accent-orange;
}

.invalid:focus-visible {
  outline-color: vr.$invalid-color;
}

.table__error-message {
  font-size: 0.8em;
  color: vr.$accent-orange;
}
