@use '../../../scss/variables' as vr;
@use '../../../scss/mixins.scss';

.words-group__container {
  width: 100%;
  margin: 1em 0 1em;

  padding: 2.2em 1.5em;

  border-radius: 5px;
  background-color: vr.$background-gray;
}

.table {
  width: 100%;
  table-layout: fixed;
  @media screen and (max-width: vr.$mobileXL) {
    table-layout: auto;
  }
}

.table__body {
  @media screen and (max-width: vr.$mobileXL) {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.table:not(:first-child) {
  margin-top: 2.2em;
}

.table__header {
  padding: 0 0 1em 1em;

  font-size: 1.8em;
  font-weight: 500;
}

.table__header_blue {
  color: vr.$accent-blue;
}

.table__header_orange {
  color: vr.$accent-orange;
}

.table__text {
  padding-bottom: 1em;
  text-align: center;
  font-size: 2em;
  opacity: 0.5;

  @media screen and (max-width: vr.$mobileS) {
    font-size: 1.8em;
  }
}
