@use '../../scss/variables.scss' as vr;
@use '../../scss/mixins.scss';
@use 'sass:color';

.table__row {
  // @extend %flex-center;
  padding-block: 2.5em;

  background-color: white;

  @media screen and (max-width: vr.$mobileXL) {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: auto;
    min-width: 250px;
    max-width: 90%;
  }
}

.table__row:not(:last-child) {
  border-bottom: 4px solid vr.$background-gray;
}

.table__data {
  // @extend %flex-center;
  // justify-content: center;
  // flex-basis: 50%;
  min-height: 3em;

  font-size: 1.8em;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  border-right: 1px solid vr.$line-color;
  border-radius: 2px;

  @media screen and (max-width: vr.$mobileXL) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    border-right: none;
    border-bottom: 1px solid vr.$line-color;
  }
}

.table__options {
  @extend %flex-center;
  flex-direction: column;
  flex-basis: 20%;

  @media screen and (max-width: vr.$mobileXL) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 3em;
  }
}

.table__icon {
  width: 2.7em;
  height: 2.7em;

  fill: vr.$background-green;
}

.table__icon_orange {
  fill: vr.$accent-orange;
}

.table__button {
  @include mixins.svg-button(5px 0, vr.$background-green);
}

.table__button_orange {
  @include mixins.svg-button(5px 0, vr.$accent-orange);
}

.table__button:first-child {
  border-bottom: 1px solid vr.$line-color;

  @media screen and (max-width: vr.$mobileXL) {
    border: none;
  }
}

.table__input {
  width: 90%;
  min-height: 2.5em;
  border: none;
  border-radius: 5px;
  text-align: center;

  background-color: vr.$background-gray;
}
