@use '../../scss/variables.scss' as vr;
@use '../../scss/mixins.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: white;
  box-shadow: vr.$box-shadow;

  &__container {
    @extend %flex-center;
    @extend %container;
    padding: 1em vr.$global-side-padding;

    @media screen and (max-width: vr.$mobileL) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__button {
    @include mixins.button(vr.$background-green, none, 0.5em 2em);
    margin-left: auto;
    margin-right: 8%;
    position: relative;

    font-size: 2em;
    color: white;

    @media screen and (max-width: vr.$mobileL) {
      margin: 1em 0 0 0;

      font-size: 1.8em;
    }
  }

  &__img {
    position: absolute;
    top: 98%;
    right: 0;
    width: 3.5em;
    height: 4.7em;

    pointer-events: none;

    @media screen and (max-width: vr.$mobileL) {
      display: none;
    }
  }
}
