@use '../../scss/variables.scss' as vr;
@use '../../scss/mixins.scss';
@use 'sass:color';

.custom-btn {
  @include mixins.button(transparent, none, 0.2em);
  border: 1px solid transparent;

  &:hover {
    color: color.adjust(vr.$background-green, $lightness: -10%);
  }
  :focus-visible {
    color: color.adjust(vr.$background-green, $lightness: -10%);
    outline-color: green;
    outline-width: 1px;
    outline-style: solid;
  }

  @media screen and (max-width: vr.$mobileS) {
    font-size: 0.9em;
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: vr.$background-green;

  background-color: none;
  border-color: transparent;
}

.dropdown-menu {
  box-shadow: vr.$box-shadow;
}

.dropdown-item {
  font-weight: 500;
}
