@use '../../../scss/variables.scss' as vr;
@use '../../../scss/mixins.scss';

.card-buttons-container {
  @extend %flex-center;
  justify-content: center;
  width: 100%;
}

.dont-know-button {
  @include mixins.button(vr.$accent-orange, none, 0.7em);
}

.know-button {
  @include mixins.button(vr.$accent-blue, none, 0.7em);
}

.dont-know-button,
.know-button {
  flex: none;
  width: 9em;
  margin: 1em;

  font-size: 2em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  @media screen and (max-width: vr.$mobileS) {
    width: 8em;
  }
}

.dont-know-button:disabled,
.know-button:disabled {
  pointer-events: none;
}
