@use '../../scss/variables.scss' as vr;
@use '../../scss/mixins.scss';

.list {
  width: 100%;
  margin-top: 1em;
  padding: 2em 1em;
  border-radius: 5px;
  background-color: vr.$background-gray;
}

.empty-list {
  @extend %flex-center;
  justify-content: center;
  min-height: 150px;
  opacity: 0.4;
}

.list__notice {
  font-size: 2em;
  font-weight: 400;
  text-align: center;

  @media screen and (max-width: vr.$mobileS) {
    font-size: 1.8em;
  }
}
