@use '../../../scss/variables' as vr;
@use '../../../scss/mixins.scss';

.flashcards-section {
  display: flex;
  flex-direction: column;
  margin-top: 9em;
  width: 100%;

  @media screen and (max-width: vr.$mobileL) {
    margin-top: 5em;
  }
}
