@use 'normalize.css';
@use './assets/scss/variables' as vr;
@use './assets/scss/mixins';

@import './assets/scss/_custom.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  height: 100%;

  font-size: 62.5%;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: vr.$tablet) {
    font-size: 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;

  font-family: vr.$font;
  font-weight: 400;
  font-style: normal;
  color: vr.$font-green;
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
