@use 'sass:color';
@use 'variables' as vr;

@mixin button($color, $border, $padding) {
  padding: $padding;

  background-color: $color;
  border: $border;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: color.adjust($color, $lightness: -10%);
  }
}

@mixin svg-button($padding, $color) {
  padding: $padding;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover svg {
    fill: color.adjust($color, $lightness: -10%);
  }
}

%flex-center {
  display: flex;
  align-items: center;
}

%container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
