@use 'fonts';

$background-green: #779f88;
$background-gray: #f6f7fb;
$font-green: #2a3f33;
$font-light-gray: #8f95a5;
$logo-gray: #939393;
$accent-blue: #3a91c4;
$accent-orange: #fe7f3c;
$line-color: #ebecf3;

$box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

$font: 'Poppins', Arial, serif;

$laptop: 1024px;
$tablet: 800px;
$mobileXL: 610px;
$mobileL: 425px;
$mobileS: 375px;

$global-side-padding: 2.5em;
