@use 'normalize.css';
@use './variables' as vr;
@use './mixins';

@import './custom';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  height: 100%;

  font-size: 62.5%;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: vr.$tablet) {
    font-size: 50%;
  }
}

#root {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;

  font-family: vr.$font;
  font-weight: 400;
  font-style: normal;
  color: vr.$font-green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: vr.$background-green;
  outline-width: 1px;
  outline-style: solid;
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
