@use 'fonts';

$background-green: #779f88;
$background-gray: #f6f7fb;
$font-green: #2a3f33;
$font-light-gray: #8f95a5;
$logo-gray: #939393;
$accent-blue: #3a91c4;
$accent-orange: #fe7f3c;

$font: 'Poppins', Arial, serif;

$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;

$global-side-padding: 2.5em;
